In [3]:
import datetime
import time
import pandas as pd

from tqdm.notebook import trange

from web3_premium.explorer import etherscan
from web3_premium.contract import Contract
from web3_premium.chains import ethereum

In [2]:
dt = datetime.datetime(year=2022, month=1, day=1, hour=12, minute=1)
start_block = int(etherscan.block.getblocknobytime(timestamp=int(dt.timestamp()), closest="before"))
time.sleep(5)
end_block = int(etherscan.block.getblocknobytime(timestamp=int(dt.timestamp() + 10000000), closest="before"))
step = int((1/15) * 60 * 60 * 10)
time.sleep(5)

In [4]:
usdt = Contract("0xdAC17F958D2ee523a2206206994597C13D831ec7", ethereum)

rows = []
for block in trange(start_block, end_block, step):
    block_info = ethereum.eth.get_block(block)
    usdtBalance = usdt.balanceOf("0xdAC17F958D2ee523a2206206994597C13D831ec7", block=block)
    rows.append({
        "block": block,
        "balance": usdtBalance,
        "timestamp": block_info.timestamp
    })

df = pd.DataFrame(rows)

  0%|          | 0/311 [00:00<?, ?it/s]

      block       balance   timestamp
0  13918590  715399946626  1641027592
1  13920990  715399946626  1641059631
2  13923390  715399946626  1641091400
3  13925790  715449913672  1641124190
4  13928190  715449913672  1641155058

In [5]:
df.head()

      block       balance   timestamp
0  13918590  715399946626  1641027592
1  13920990  715399946626  1641059631
2  13923390  715399946626  1641091400
3  13925790  715449913672  1641124190
4  13928190  715449913672  1641155058